{% extends "proye/plantilla.html"%} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    {%block titulo%}TituloIndex{% endblock %}
</head>
<body>
{%block body%} 
<div class="py-30"></div>
    <section class="block-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="news-style-one">
              <h3 class="news-title">
                <span>Productos destacados</span>
              </h3>
              <div class="news-style-one-slide">
                <div class="item">
                  <div class="post-block-wrapper clearfix mb-5">
                    <div class="post-thumbnail">
                      <a href="single-post.htm">
                        <img
                          class="img-fluid"
                          src="static/proye/images/news/news-01.jpg"
                          alt="post-image"
                        />
                      </a>
                    </div>
                    <div class="post-content">
                      <h2 class="post-title mt-3">
                        <a href="single-post.html"
                          >PRODUCTO DESTACADO 1</a
                        >
                      </h2>
                      <div class="post-meta mb-2">
                        <span class="posted-time"
                          ><i class="fa mr-2"></i>MARCA</span
                        >
                        <span class="post-author">
                            Categoría
                        </span>
                      </div>
                      <p>
                        Descripción Descripción Descripción Descripción Descripción Descripción
                      </p>
                    </div>
                  </div>
                </div>

                <div class="item">
                  <div class="post-block-wrapper clearfix mb-5">
                    <div class="post-thumbnail">
                      <a href="single-post.htm">
                        <img
                          class="img-fluid"
                          src="static/proye/images/news/news-03.jpg"
                          alt="post-thumbnail"
                        />
                      </a>
                    </div>
                    <div class="post-content">
                      <h2 class="post-title">
                        <a href="single-post.html"
                          >PRODUCTO DESTACADO 2</a
                        >
                      </h2>
                      <div class="post-meta mb-2">
                        <span class="posted-time"
                          ><i class="fa mr-2"></i>MARCA</span
                        >
                        <span class="post-author">
                          Categoría
                        </span>
                      </div>
                      <p>
                        Descripción Descripción Descripción Descripción Descripción Descripción
                      </p>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="post-block-wrapper clearfix mb-5">
                    <div class="post-thumbnail">
                      <a href="single-post.htm">
                        <img
                          class="img-fluid"
                          src="static/proye/images/news/news-05.jpg"
                          alt="post-thumbnail"
                        />
                      </a>
                    </div>
                    <div class="post-content">
                      <h2 class="post-title">
                        <a href="single-post.html"
                          >PRODUCTO DESTACADO 3</a
                        >
                      </h2>
                      <div class="post-meta mb-2">
                        <span class="posted-time"
                          ><i class="fa mr-2"></i>MARCA</span
                        >
                        <span class="post-author">
                            Categoría
                        </span>
                      </div>
                      <p>
                        Descripción Descripción Descripción Descripción Descripción Descripción
                      </p>
                    </div>
                  </div>
                </div>
                <div class="item">
                    <div class="post-block-wrapper clearfix mb-5">
                      <div class="post-thumbnail">
                        <a href="single-post.htm">
                          <img
                            class="img-fluid"
                            src="static/proye/images/news/news-06.jpg"
                            alt="post-thumbnail"
                          />
                        </a>
                      </div>
                      <div class="post-content">
                        <h2 class="post-title">
                          <a href="single-post.html"
                            >PRODUCTO DESTACADO 4</a
                          >
                        </h2>
                        <div class="post-meta mb-2">
                          <span class="posted-time"
                            ><i class="fa mr-2"></i>MARCA</span
                          >
                          <span class="post-author">
                            Categoría
                          </span>
                        </div>
                        <p>
                            Descripción Descripción Descripción Descripción Descripción Descripción
                        </p>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="news-style-four bg-light section-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="block">
              <h3 class="news-title">
                <span>Categoría 1</span>
              </h3>
              <div class="post-overlay-wrapper clearfix">
                <div class="post-thumbnail">
                  <img
                    class="img-fluid"
                    src="static/proye/images/news/news-13.jpg"
                    alt="post-thumbnail"
                  />
                </div>

                <div class="post-content">
                  <h2 class="post-title">
                    <a href="single-post.html"
                      >Nombre</a
                    >
                  </h2>
                  <div class="post-meta white">
                    <span class="posted-time">Marca</span>
                    <span class="pull-right">
                      <i class="fa fa-comments"></i>
                      <a href="single-post.html#comments">05</a>
                    </span>
                  </div>
                </div>
              </div>

              <div class="post-list-block">
                <div class="post-block-wrapper post-float clearfix">
                  <div class="post-thumbnail">
                    <img
                      class="img-fluid"
                      src="static/proye/images/news/news-11.jpg"
                      alt="post-thumbnail"
                    />
                  </div>

                  <div class="post-content">
                    <h2 class="post-title title-sm">
                      <a href="single-post.html">Nombre 1</a>
                    </h2>
                    <div class="post-meta">
                      <span class="posted-time">Marca</span>
                    </div>
                  </div>
                </div>

                <div class="post-block-wrapper post-float clearfix">
                  <div class="post-thumbnail">
                    <img
                      class="img-fluid"
                      src="static/proye/images/news/news-04.jpg"
                      alt="post-thumbnail"
                    />
                  </div>
                  <div class="post-content">
                    <h2 class="post-title title-sm">
                      <a href="single-post.html"
                        >Nombre 2</a
                      >
                    </h2>
                    <div class="post-meta">
                      <span class="posted-time">Marca</span>
                    </div>
                  </div>
                </div>

                <div class="post-block-wrapper post-float clearfix">
                  <div class="post-thumbnail">
                    <img
                      class="img-fluid"
                      src="static/proye/images/news/news-12.jpg"
                      alt="post-thumbnail"
                    />
                  </div>

                  <div class="post-content">
                    <h2 class="post-title title-sm">
                      <a href="single-post.html"
                        >Nombre 3</a
                      >
                    </h2>
                    <div class="post-meta">
                      <span class="posted-time">Marca</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="block">
              <h3 class="news-title">
                <span>Categoría 2</span>
              </h3>
              <div class="post-overlay-wrapper clearfix">
                <div class="post-thumbnail">
                  <img
                    class="img-fluid"
                    src="static/proye/images/news/news-08.jpg"
                    alt="post-thumbnail"
                  />
                </div>

                <div class="post-content">
                  <h2 class="post-title">
                    <a href="single-post.html">Nombre</a>
                  </h2>
                  <div class="post-meta white">
                    <span class="posted-time">Marca</span>
                    </span>
                    <span class="pull-right">
                      <i class="fa fa-comments"></i>
                      <a href="single-post.html#comments">10</a>
                    </span>
                  </div>
                </div>
              </div>

              <div class="post-list-block">
                <div class="post-block-wrapper post-float clearfix">
                  <div class="post-thumbnail">
                    <img
                      class="img-fluid"
                      src="static/proye/images/news/news-03.jpg"
                      alt="post-thumbnail"
                    />
                  </div>

                  <div class="post-content">
                    <h2 class="post-title title-sm">
                      <a href="single-post.html"
                        >Nombre 1</a
                      >
                    </h2>
                    <div class="post-meta">
                      <span class="posted-time">Marca</span>
                    </div>
                  </div>
                </div>

                <div class="post-block-wrapper post-float clearfix">
                  <div class="post-thumbnail">
                    <img
                      class="img-fluid"
                      src="static/proye/images/news/news-01.jpg"
                      alt="post-thumbnail"
                    />
                  </div>

                  <div class="post-content">
                    <h2 class="post-title title-sm">
                      <a href="single-post.html"
                        >Nombre 2</a
                      >
                    </h2>
                    <div class="post-meta">
                      <span class="posted-time">Marca</span>
                    </div>
                  </div>
                </div>

                <div class="post-block-wrapper post-float clearfix">
                  <div class="post-thumbnail">
                    <img
                      class="img-fluid"
                      src="static/proye/images/news/news-06.jpg"
                      alt="post-thumbnail"
                    />
                  </div>

                  <div class="post-content">
                    <h2 class="post-title title-sm">
                      <a href="single-post.html"
                        >Nombre 3</a
                      >
                    </h2>
                    <div class="post-meta">
                      <span class="posted-time">Marca</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="block">
              <h3 class="news-title">
                <span>Categoría 3</span>
              </h3>
              <div class="post-overlay-wrapper clearfix">
                <div class="post-thumbnail">
                  <img
                    class="img-fluid"
                    src="static/proye/images/news/news-05.jpg"
                    alt="post-thumbnail"
                  />
                </div>

                <div class="post-content">
                  <h2 class="post-title">
                    <a href="single-post.html"
                      >Nombre</a
                    >
                  </h2>
                  <div class="post-meta white">
                    <span class="posted-time">Marca</span>
                    <span class="pull-right">
                      <i class="fa fa-comments"></i>
                      <a href="single-post.html#comments">30</a>
                    </span>
                  </div>
                </div>
              </div>

              <div class="post-list-block">
                <div class="post-block-wrapper post-float clearfix">
                  <div class="post-thumbnail">
                    <img
                      class="img-fluid"
                      src="static/proye/images/news/news-10.jpg"
                      alt="post-thumbnail"
                    />
                  </div>

                  <div class="post-content">
                    <h2 class="post-title title-sm">
                      <a href="single-post.html"
                        >Nombre 1</a
                      >
                    </h2>
                    <div class="post-meta">
                      <span class="posted-time">Marca</span>
                    </div>
                  </div>
                </div>

                <div class="post-block-wrapper post-float clearfix">
                  <div class="post-thumbnail">
                    <img
                      class="img-fluid"
                      src="static/proye/images/news/news-07.jpg"
                      alt="post-thumbnail"
                    />
                  </div>

                  <div class="post-content">
                    <h2 class="post-title title-sm">
                      <a href="single-post.html"
                        >Nombre 2</a
                      >
                    </h2>
                    <div class="post-meta">
                      <span class="posted-time">Marca</span>
                    </div>
                  </div>
                </div>

                <div class="post-block-wrapper post-float clearfix">
                  <div class="post-thumbnail">
                    <img
                      class="img-fluid"
                      src="static/proye/images/news/news-14.jpg"
                      alt="post-thumbnail"
                    />
                  </div>

                  <div class="post-content">
                    <h2 class="post-title title-sm">
                      <a href="single-post.html"
                        >Nombre 3</a
                      >
                    </h2>
                    <div class="post-meta">
                      <span class="posted-time">Marca</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
            <section class="news-style-four bg-light section-padding">
              <div class="container">
                <div class="row">
                  <div class="col-lg-4 col-md-6">
                    <div class="block">
                      <h3 class="news-title">
                        <span>Mejores marcas:</span>
                      </h3>

                      <div class="post-list-block">
                        <div class="post-block-wrapper post-float clearfix">
                          <div class="post-thumbnail">
                            <img
                              class="img-fluid"
                              src="static/proye/images/news/news-11.jpg"
                              alt="post-thumbnail"
                            />
                          </div>

                          <div class="post-content">
                            <h2 class="post-title title-sm">
                              <a href="single-post.html">Marca 1</a>
                            </h2>
                          </div>
                        </div>

                        <div class="post-block-wrapper post-float clearfix">
                          <div class="post-thumbnail">
                            <img
                              class="img-fluid"
                              src="static/proye/images/news/news-04.jpg"
                              alt="post-thumbnail"
                            />
                          </div>
                          <div class="post-content">
                            <h2 class="post-title title-sm">
                              <a href="single-post.html">Marca 2</a>
                            </h2>
                          </div>
                        </div>

                        <div class="post-block-wrapper post-float clearfix">
                          <div class="post-thumbnail">
                            <img
                              class="img-fluid"
                              src="static/proye/images/news/news-12.jpg"
                              alt="post-thumbnail"
                            />
                          </div>

                          <div class="post-content">
                            <h2 class="post-title title-sm">
                              <a href="single-post.html">Marca 3</a>
                            </h2>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6">
                    <div class="block">
                      <h3 class="news-title">
                        <span>.</span>
                      </h3>

                      <div class="post-list-block">
                        <div class="post-block-wrapper post-float clearfix">
                          <div class="post-thumbnail">
                            <img
                              class="img-fluid"
                              src="static/proye/images/news/news-03.jpg"
                              alt="post-thumbnail"
                            />
                          </div>

                          <div class="post-content">
                            <h2 class="post-title title-sm">
                              <a href="single-post.html">Marca 4</a>
                            </h2>
                          </div>
                        </div>

                        <div class="post-block-wrapper post-float clearfix">
                          <div class="post-thumbnail">
                            <img
                              class="img-fluid"
                              src="static/proye/images/news/news-01.jpg"
                              alt="post-thumbnail"
                            />
                          </div>

                          <div class="post-content">
                            <h2 class="post-title title-sm">
                              <a href="single-post.html">Marca 5</a>
                            </h2>
                          </div>
                        </div>

                        <div class="post-block-wrapper post-float clearfix">
                          <div class="post-thumbnail">
                            <img
                              class="img-fluid"
                              src="static/proye/images/news/news-06.jpg"
                              alt="post-thumbnail"
                            />
                          </div>

                          <div class="post-content">
                            <h2 class="post-title title-sm">
                              <a href="single-post.html">Marca 6</a>
                            </h2>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6">
                    <div class="block">
                      <h3 class="news-title">
                        <span>.</span>
                      </h3>

                      <div class="post-list-block">
                        <div class="post-block-wrapper post-float clearfix">
                          <div class="post-thumbnail">
                            <img
                              class="img-fluid"
                              src="static/proye/images/news/news-10.jpg"
                              alt="post-thumbnail"
                            />
                          </div>

                          <div class="post-content">
                            <h2 class="post-title title-sm">
                              <a href="single-post.html">Marca 7</a>
                            </h2>
                          </div>
                        </div>

                        <div class="post-block-wrapper post-float clearfix">
                          <div class="post-thumbnail">
                            <img
                              class="img-fluid"
                              src="static/proye/images/news/news-07.jpg"
                              alt="post-thumbnail"
                            />
                          </div>

                          <div class="post-content">
                            <h2 class="post-title title-sm">
                              <a href="single-post.html">Marca 8</a>
                            </h2>
                          </div>
                        </div>

                        <div class="post-block-wrapper post-float clearfix">
                          <div class="post-thumbnail">
                            <img
                              class="img-fluid"
                              src="static/proye/images/news/news-14.jpg"
                              alt="post-thumbnail"
                            />
                          </div>

                          <div class="post-content">
                            <h2 class="post-title title-sm">
                              <a href="single-post.html">Marca 9</a>
                            </h2>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
          <div class="col-lg-4 col-md-8 col-sm-12 col-xs-12">
            <div class="sidebar sidebar-right">
              <div class="widget">
                <h3 class="news-title">
                  <span>Top Productos</span>
                </h3>
                <div class="post-list-block">
                  <div class="review-post-list">
                    <div class="top-author">
                      <img
                        src="static/proye/images/news/author-01.jpg"
                        alt="author-thumb"
                      />
                      <div class="info">
                        <h4 class="name">
                          <a href="author.html">Nombre 1</a>
                        </h4>
                        <ul class="list-unstyled">
                          <li>1 - 5 años</li>
                        </ul>
                      </div>
                    </div>
                    <div class="top-author">
                      <img
                        src="static/proye/images/news/author-02.jpg"
                        alt="author-thumb"
                      />
                      <div class="info">
                        <h4 class="name">
                          <a href="author.html">Nombre 2</a>
                        </h4>
                        <ul class="list-unstyled">
                          <li>5 - 8 años</li>
                        </ul>
                      </div>
                    </div>
                    <div class="top-author">
                      <img
                        src="static/proye/images/news/author-03.jpg"
                        alt="author-thumb"
                      />
                      <div class="info">
                        <h4 class="name">
                          <a href="author.html">Nombre 3</a>
                        </h4>
                        <ul class="list-unstyled">
                          <li>10 - 12 años</li>
                        </ul>
                      </div>
                    </div>
                    <div class="top-author">
                      <img
                        src="static/proye/images/news/author-02.jpg"
                        alt="author-thumb"
                      />
                      <div class="info">
                        <h4 class="name"><a href="author.html">Nombre 3</a></h4>
                        <ul class="list-unstyled">
                          <li>14 años o más</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{%endblock%}
</body>
</html>